.header {
  background: #1a1a1a;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header-container {
  padding: 0 24px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Blinker', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #efefef;
  width: 150px;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    font-weight: 600;
    border-bottom: 1px solid #760304;
  }
}

.nav-list-link.active {
  font-weight: 600;
  border-bottom: 1px solid #760304;
}

.nav-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}
