.hero-section {
  background: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 596px;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 125px;
    padding-top: 180px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.hero-container {
  padding: 0 19px;

  @include media(desktop) {
    padding: 0 78px;
  }
}

.hero-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  color: #1a1a1a;

  @include media(desktop) {
    font-size: 48px;
    line-height: 1.3;
    max-width: 630px;
    margin-right: auto;
  }
}
