<div class="section characters-section" id="characters">
  <div class="section-title-wrapper characters-title-wrapper">
    <div class="container characters-container">
      <h2 class="section-title">Main Characters</h2>
      <picture>
        <source
          srcset="./img/common/figure-desk.png"
          media="(min-width: 1440px)"
          width="442"
          height="24"
        />
        <source srcset="./img/common/figure-mob.png" width="343" height="24" />
        <img
          class="underline-title-img"
          src="./img/common/figure-mob.png"
          alt="Underline title"
          width="343"
          height="24"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <div class="characters-wrapper">
    <div class="container characters-container">
      <ul class="characters-list">
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-bam-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-bam-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-bam-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Twenty-Fifth Bam</p>
          <p class="characters-item-text">
            The mysterious boy who enters the Tower seeking his only friend,
            Rachel. Kind-hearted but powerful beyond expectations.
          </p>
        </li>
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-khun-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-khun-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-khun-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Khun Aguero Agnes</p>
          <p class="characters-item-text">
            A strategic genius from a prestigious family. Cold and calculating,
            but deeply loyal to his companions.
          </p>
        </li>
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-rak-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-rak-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-rak-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Rak Wraithraiser</p>
          <p class="characters-item-text">
            A proud and comedic spear bearer with a strong sense of honor. He
            calls everyone a "turtle."
          </p>
        </li>
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-rachel-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-rachel-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-rachel-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Rachel</p>
          <p class="characters-item-text">
            Bam’s enigmatic friend whose motivations unfold layer by layer. Her
            role in the Tower is complex and controversial.
          </p>
        </li>
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-endorsi-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-endorsi-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-endorsi-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Endorsi Jahad</p>
          <p class="characters-item-text">
            A fierce and confident Princess of Jahad who masks vulnerability
            with strength and arrogance.
          </p>
        </li>
        <li class="characters-list-item">
          <picture>
            <source
              srcset="./img/characters/characters-hatz-desk.png"
              media="(min-width: 1440px)"
              width="368"
              height="368"
            />
            <source
              srcset="./img/characters/characters-hatz-mob.png"
              width="311"
              height="311"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-hatz-mob.png"
              alt="Picture of character"
              width="311"
              height="311"
              loading="lazy"
            />
          </picture>
          <p class="characters-item-name">Hatz & Shibisu</p>
          <p class="characters-item-text">
            Memorable side characters with sharp skills and strong development
            throughout the journey.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
