<div class="section description-section" id="description">
  <div class="section-title-wrapper description-title-wrapper">
    <div class="container description-container">
      <h2 class="section-title">Game Description</h2>
      <picture>
        <source
          srcset="./img/common/figure-desk.png"
          media="(min-width: 1440px)"
          width="442"
          height="24"
        />
        <source srcset="./img/common/figure-mob.png" width="343" height="24" />
        <img
          class="underline-title-img"
          src="./img/common/figure-mob.png"
          alt="Underline title"
          width="343"
          height="24"
          loading="lazy"
        />
      </picture>
      <p class="description-text">
        Tower of God: NEW WORLD is an epic RPG experience based on the smash-hit
        webtoon with over 6 billion views worldwide. Step into a visually
        stunning world of mystery, power, and ambition as you climb the fabled
        Tower.
      </p>
    </div>
  </div>
  <div class="description-wrapper">
    <div class="container description-container">
      <div class="description-content-wrapper">
        <picture>
          <source
            srcset="./img/description/description-boy-desk.png"
            media="(min-width: 1440px)"
            width="440"
            height="360"
          />
          <source
            srcset="./img/description/description-boy-mob.png"
            width="343"
            height="280"
          />
          <img
            class="underline-title-img"
            src="./img/description/description-boy-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="280"
            loading="lazy"
          />
        </picture>
        <div class="description-text-wrapper">
          <p class="description-content-text">
            Experience deep lore, dynamic gameplay, and massive rewards in a
            game that brings the spirit of the Tower of God to life.
          </p>
          <p class="description-content-text">
            Join Bam, Khun, Rak, and many other familiar faces in a brand-new
            story exclusive to the game. Recruit heroes, unleash their ultimate
            skills, and engage in thrilling battles while strategizing with
            unique Elements and Positions.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/description/description-girl-desk.png"
            media="(min-width: 1440px)"
            width="440"
            height="360"
          />
          <source
            srcset="./img/description/description-girl-mob.png"
            width="343"
            height="280"
          />
          <img
            class="underline-title-img"
            src="./img/description/description-girl-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="280"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
