<section class="section faq-section" id="faq">
  <div class="faq-background-wrapper">
    <div class="section-title-wrapper faq-title-wrapper">
      <div class="container faq-container">
        <h2 class="section-title">FAQ</h2>
        <picture>
          <source
            srcset="./img/common/figure-desk.png"
            media="(min-width: 1440px)"
            width="442"
            height="24"
          />
          <source
            srcset="./img/common/figure-mob.png"
            width="343"
            height="24"
          />
          <img
            class="underline-title-img"
            src="./img/common/figure-mob.png"
            alt="Underline title"
            width="343"
            height="24"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="faq-wrapper">
      <div class="container faq-container">
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Tower of God: NEW WORLD free to play?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="48" height="48">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes! The game is free to download and play, with optional
              purchases.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Do I need to know the webtoon to enjoy the game?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="48" height="48">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No, the game is built to welcome both fans and new players alike.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">How do I unlock more characters?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="48" height="48">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Through gameplay, special events, and recruitment systems.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is progress shared across characters?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="48" height="48">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes! You don’t need to grind each one from scratch.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Where can I get updates and support?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="48" height="48">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Visit the official forums and social media channels listed below.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
