<div class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container features-container">
      <h2 class="section-title">Game Features</h2>
      <picture>
        <source
          srcset="./img/common/figure-desk.png"
          media="(min-width: 1440px)"
          width="442"
          height="24"
        />
        <source srcset="./img/common/figure-mob.png" width="343" height="24" />
        <img
          class="underline-title-img"
          src="./img/common/figure-mob.png"
          alt="Underline title"
          width="343"
          height="24"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <div class="features-wrapper">
    <div class="container features-container">
      <div class="features-list">
        <div class="features-top-list">
          <div class="features-list-item">
            <p class="features-item-title">Character Recruitment:</p>
            <p class="features-item-text">
              Collect and upgrade a wide roster of Tower dwellers.
            </p>
          </div>
          <div class="features-list-item">
            <p class="features-item-title">Strategic Combat:</p>
            <p class="features-item-text">
              Engage in real-time battles using elemental affinities and team
              roles.
            </p>
          </div>
          <div class="features-list-item">
            <p class="features-item-title">Ultimate Skills:</p>
            <p class="features-item-text">
              Unleash special moves unique to each character.
            </p>
          </div>
        </div>
        <div class="features-img-list-wrapper">
          <div class="features-img-list-item">
            <picture>
              <source
                srcset="./img/features/features-guy-mob.png"
                media="(min-width: 1440px)"
                width="256"
                height="312"
              />
              <source
                srcset="./img/features/features-guy-mob.png"
                width="269"
                height="327"
              />
              <img
                class="features-img"
                src="./img/features/features-guy-mob.png"
                alt="Screenshot of the game"
                width="269"
                height="327"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-list-item">
            <p class="features-item-title">Shared Progression:</p>
            <p class="features-item-text">
              Use one set of upgrades across multiple characters.
            </p>
          </div>
        </div>
        <div class="features-bottom-list">
          <div class="features-list-item features-loot-item">
            <p class="features-item-title">Loot System:</p>
            <p class="features-item-text">Earn resources even while offline.</p>
          </div>
          <div class="features-list-item">
            <p class="features-item-title">PvE & PvP Modes:</p>
            <p class="features-item-text">
              Battle through story-driven levels and challenge other players.
            </p>
          </div>
          <div class="features-list-item">
            <p class="features-item-title">Event Challenges:</p>
            <p class="features-item-text">
              Take part in seasonal content and earn exclusive rewards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
