<div class="section play-section" id="play">
  <div class="section-title-wrapper play-title-wrapper">
    <div class="container play-container">
      <h2 class="section-title">How to Play</h2>
      <picture>
        <source
          srcset="./img/common/figure-desk.png"
          media="(min-width: 1440px)"
          width="442"
          height="24"
        />
        <source srcset="./img/common/figure-mob.png" width="343" height="24" />
        <img
          class="underline-title-img"
          src="./img/common/figure-mob.png"
          alt="Underline title"
          width="343"
          height="24"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <div class="play-wrapper">
    <div class="play-content-wrapper">
      <div class="container play-container">
        <div class="play-list-wrapper">
          <div class="play-top-list">
            <div class="play-list-item">
              <p class="play-item-title">Start Your Journey:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Begin the game as Bam and unlock new heroes.
              </p>
            </div>
            <div class="play-list-item">
              <p class="play-item-title">Build a Team:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Recruit and upgrade your favorite characters.
              </p>
            </div>
            <div class="play-list-item">
              <p class="play-item-title">Unleash Skills:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Tap into unique ultimate attacks during battles.
              </p>
            </div>
          </div>
          <div class="play-bottom-list">
            <div class="play-list-item">
              <p class="play-item-title">Battle with Strategy:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Use Elements and Positions for tactical advantages.
              </p>
            </div>
            <div class="play-list-item">
              <p class="play-item-title">Earn Loot Automatically:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Collect upgrade materials with passive systems.
              </p>
            </div>
            <div class="play-list-item">
              <p class="play-item-title">Join Events:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Participate in challenges and limited-time story arcs.
              </p>
            </div>
            <div class="play-list-item">
              <p class="play-item-title">Climb the Tower:</p>
              <picture>
                <source
                  srcset="./img/play/play-line-desk.png"
                  media="(min-width: 1440px)"
                  width="268"
                  height="2"
                />
                <source
                  srcset="./img/play/play-line-mob.png"
                  width="311"
                  height="2"
                />
                <img
                  class="underline-title-img"
                  src="./img/play/play-line-mob.png"
                  alt="Underline title"
                  width="311"
                  height="2"
                  loading="lazy"
                />
              </picture>
              <p class="play-item-text">
                Progress through stages and uncover new secrets.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="play-img-wrapper">
      <div class="container play-img-container">
        <picture>
          <source
            srcset="./img/play/play-img-desk.png"
            media="(min-width: 1440px)"
            width="1440"
            height="725"
          />
          <source
            srcset="./img/play/play-img-mob.png"
            width="375"
            height="189"
          />
          <img
            class="play-img"
            src="./img/play/play-img-mob.png"
            alt="Underline title"
            width="375"
            height="189"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
