<div class="section reviews-section" id="reviews">
  <div class="section-title-wrapper reviews-title-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title">User Reviews</h2>
      <picture>
        <source
          srcset="./img/common/figure-desk.png"
          media="(min-width: 1440px)"
          width="442"
          height="24"
        />
        <source srcset="./img/common/figure-mob.png" width="343" height="24" />
        <img
          class="underline-title-img"
          src="./img/common/figure-mob.png"
          alt="Underline title"
          width="343"
          height="24"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <div class="reviews-wrapper">
    <div class="container reviews-container">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <div class="reviews-item-top-wrapper">
            <p class="reviews-item-name">Liam D.:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="100"
              height="20"
              loading="lazy"
            />
          </div>
          <p class="reviews-item-text">
            "It captures the Tower of God world so well. Addicted from day one!"
          </p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-item-top-wrapper">
            <p class="reviews-item-name">Ava K.:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="100"
              height="20"
              loading="lazy"
            />
          </div>
          <p class="reviews-item-text">
            "Bam’s ultimate move is epic. Love the art style and battles."
          </p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-item-top-wrapper">
            <p class="reviews-item-name">Ethan J.:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="100"
              height="20"
              loading="lazy"
            />
          </div>
          <p class="reviews-item-text">
            "Great game mechanics and smooth progression. No grind stress!"
          </p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-item-top-wrapper">
            <p class="reviews-item-name">Mia H.:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="100"
              height="20"
              loading="lazy"
            />
          </div>
          <p class="reviews-item-text">
            "As a webtoon fan, I’m beyond impressed. The original story adds a
            lot!"
          </p>
        </li>
        <li class="reviews-list-item">
          <div class="reviews-item-top-wrapper">
            <p class="reviews-item-name">Noah W.:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="100"
              height="20"
              loading="lazy"
            />
          </div>
          <p class="reviews-item-text">
            "Feels like I’m in the Tower myself. Deep, immersive, and
            strategic."
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
